[core]
	editor = vim
[diff]
	tool = vimdiff
	algorithm = patience
	indentHeuristic = true
[difftool]
	prompt = 0
[merge]
	tool = vimdiff
	conflictstyle = diff3
[alias]
	ck = checkout
	c = commit
	a = add
	cm = commit -m
	cam = commit -am
	chr = cherry-pick
	st = status
	ps = push
	pl = pull
	b = branch
	ba = branch -avv
	f = fetch
	fa = fetch --all
	fap = fetch --all --prune
	m = merge
	s = show
	sm = show -m
	so = show --name-only
	d = diff
	ds = diff --cached
	lo = log --decorate --oneline --graph
	l = "log --pretty=format:'%C(yellow)%h %C(green)%an %C(reset)%s %C(blue)%ar %C(auto)%d' --graph"
	lb = "log --pretty=format:'%C(yellow)%h %C(green)%an %C(reset)%s %C(blue)%ar %C(auto)%d' --graph master..HEAD"
	ll = "log --pretty=format:'%C(yellow)%h %C(green)%an %C(reset)%s %C(blue)%ar %C(auto)%d' --graph --all"
	pud = "!f() { \
		git push -f deploy HEAD:master; \
	}; f"
	debug = "!f() { \
		git add -A && git commit -m 'debug' && git pud && git reset --mixed HEAD~1; \
	}; f"
