set show-mode-in-prompt on
set vi-ins-mode-string "\e[38;5;14m(ins): \e[0m"
set vi-cmd-mode-string "\e[38;5;200m(cmd): \e[0m"
set keyseq-timeout 0

# https://misc.flogisoft.com/bash/tip_colors_and_formatting
